/* global Button Styles */

.__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  padding: 12px 26px;
  border: none;

  cursor: pointer;

  /* Stroke Button States */
  &.__stroke {
    color: white;
    background-color: map-get($colors, "ocean-blue");
    border: 2px solid white;

    transition: background-color 0.1s ease;

    &:hover {
      background-color: map-get($colors, "ocean");
    }

    &:active {
      background-color: map-get($colors, "kolibri-blue");
    }
  }

  /* Solid Button States */
  &.__solid {
    color: white;
    background-color: map-get($colors, "ocean-blue");

    transition: background-color 0.1s ease;

    &:hover {
      background-color: map-get($colors, "ocean");
    }

    &:active {
      background-color: map-get($colors, "kolibri-blue");
    }
  }
}