%layout-flex-section {
  display: flex;
  flex-flow: row;
  place-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  @media screen and (max-width: map-get($breakpoints, "mobile")) {
    padding: 20px;
  }
}

%layout-flex-container {
  display: flex;
  flex-flow: column;
  flex: 1 1;
  gap: 40px;
}