/* Font Families */
$font-family-sans: 'Open Sans', sans-serif;
$font-family-slab: 'Roboto Slab', serif;
$font-family-condensed: 'Roboto Condensed', sans-serif;

/* Font Sizes */
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 28px;
$font-size-3xl: 30px;
$font-size-4xl: 42px;
$font-size-5xl: 54px;

/* Font Weights */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* Line Heights */
$line-height: 22px;

/* Letter Spacings */
$letter-spacing-sm: 0.5px;
$letter-spacing-md: 1px;

/* Text Decorations */
%text-decoration--underline-brown {
  &::after {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    margin-top: 20px;
    background-color: map-get($colors, "muddy-brown");
  }
}

%text-decoration--underline-blue {
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background-color: map-get($colors, "navy-peony");
  }
}

%text-effect--add-underline-on-hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

%text-effect--remove-underline-on-hover {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

/* Text Styles */
p, %text-paragraph-preset-1 {
  font-family: $font-family-sans;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  line-height: $line-height;
  color: map-get($colors, "carbon");
}

%text-header-preset-1 {
  font-family: $font-family-sans;
  font-size: $font-size-4xl;
  font-weight: $font-weight-bold;
  color: map-get($colors, "navy-peony");
}

%text-header-preset-1--sm {
  @extend %text-header-preset-1;

  font-size: $font-size-lg;
  color: map-get($colors, "black");

  letter-spacing: $letter-spacing-md;
  text-transform: uppercase;
}

%text-header-preset-2 {
  @extend %text-decoration--underline-brown;

  font-family: $font-family-sans;
  font-size: $font-size-3xl;
  font-weight: $font-weight-bold;
  color: map-get($colors, "navy-peony");
}

%text-header-preset-2--sm {
  @extend %text-header-preset-2;

  font-family: $font-family-sans;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: map-get($colors, "black");
}

%text-header-preset-3 {
  @extend %text-header-preset-2;
  text-transform: uppercase;
  color: map-get($colors, "navy-peony");
}

%text-header-preset-3--sm {
  @extend %text-header-preset-3;

  font-family: $font-family-condensed;
  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  color: map-get($colors, "black");

  letter-spacing: $letter-spacing-md;
}

%text-header-preset-4 {
  font-family: $font-family-slab;
  font-size: $font-size-2xl;
  font-weight: $font-weight-bold;
  color: map-get($colors, "muddy-brown");

  text-transform: uppercase;
}

%text-header-preset-4--sm {
  font-family: $font-family-sans;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  color: map-get($colors, "black");
}

%text-header-preset-5 {
  font-family: $font-family-sans;
  font-size: $font-size-xl;
  font-weight: $font-weight-semi-bold;
  color: map-get($colors, "black");
}

%text-header-preset-5--sm {
  @extend %text-header-preset-5;

  font-weight: $font-weight-regular;
  font-size: $font-size-xs;
  color: map-get($colors, "black");

  letter-spacing: $letter-spacing-sm;
  text-transform: uppercase;
}

%text-link-preset-1 {
  @extend %text-effect--add-underline-on-hover;

  font-family: $font-family-sans;
  font-size: $font-size-xl;
  color: map-get($colors, "ocean-blue");
}

%text-link-preset-2 {
  @extend %text-effect--remove-underline-on-hover;

  font-family: $font-family-sans;
  font-size: $font-size-lg;
  font-weight: $font-weight-semi-bold;
  color: map-get($colors, "ocean-blue");
}

%text-link-preset-2--sm {
  @extend %text-link-preset-2;

  font-size: $font-size-md;
  font-weight: $font-weight-regular;
  color: map-get($colors, "ocean-blue");
}

%text-button {
  font-family: $font-family-sans;
  font-size: $font-size-sm;
  font-weight: $font-weight-semi-bold;
  color: map-get($colors, "white");

  letter-spacing: $letter-spacing-md;
  text-transform: uppercase;
}

%text-badge {
  font-family: $font-family-sans;
  font-size: $font-size-sm;
  font-weight: $font-weight-semi-bold;
  color: map-get($colors, "white");
}