.services {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 100%;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;

    width: 100%;
    max-height: 200px;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex: 0 32%;
      gap: 8px;

      width: 30%;
      min-height: 50px;

      svg {
        flex-shrink: 0;
      }
    }
  }
}