.left-column {
  max-width: 600px;

  h2 {
    color: $color__navy-peony;
    margin-bottom: 50px;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;

    p {
      color: $color__carbon;
    }
  }
}

.right-column {
  padding: 40px 0;
  height: 100%;

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 560px;
    height: 100%;

    background-image: url("/assets/images/census-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);

    a {
      text-decoration: none;

      button {
        width: 250px;
        text-transform: none;
      }
    }
  }
}