.footer {
  display: flex;
  place-content: center;
  background-color: map-get($colors, "navy-peony");

  &__content {
    display: flex;
    place-content: space-between;
    flex: 1 1 auto;
    gap: 40px;

    max-width: 1200px;
    padding: 60px 40px;

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      flex-flow: column;
      padding: 50px 40px;
    }

    @media screen and (max-width: map-get($breakpoints, "mobile")) {
      padding: 40px 30px;
    }
  }

  &__column {
    display: flex;
    flex-flow: column;

    * {
      color: map-get($colors, "white");
    }

    &:nth-child(1) {
      gap: 40px;

      h1 {
        @extend %footer-header;
      }

      img {
        max-width: 135px;
      }
    }

    &:nth-child(2) {
      gap: 16px;

      a {
        @extend %footer-link;
        width: max-content;

        &:nth-child(6) {
          display: flex;
          gap: 8px;

          svg {
            font-size: 20px;
            color: white;
          }
        }

        @media screen and (max-width: map-get($breakpoints, "tablet")) {
          width: auto;
        }
      }
    }

    &:nth-child(3) {
      gap: 16px;

      h2 {
        @extend %footer-header-2;
      }

      a {
        @extend %paragraph-link;
        color: map-get($colors, "white");
      }
    }
  }

  .column:nth-child(3) {
    gap: 16px;
  }
}