@use "sass:map";

nav#navbar {
  @include flex-container(
          $flexDirection: column,
          $gap: 0,
          $width: 100%,
          $height: auto,
          $margin: 0,
          $padding: 0,
  );
  
  position: fixed;
  top: 0;
  left: 0;
  max-height: 120px;

  background-color: white;
  border-bottom: 8px solid map-get($colors, "navy-peony");

  .top {
    z-index: 1;
    display: flex;
    width: 100%;
    max-height: 110px;

    transition: max-height 0.4s ease;

    &.shrink {
      max-height: 90px;

      transition: max-height 0.4s ease;

      .site-details {
        p:nth-child(1) {
          font-size: 14px !important;
        }

        p:nth-child(2) {
          font-size: 12px !important;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      margin: 0 20px;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
        gap: 40px;

        padding-left: 0;
        margin-right: 40px;
        list-style-type: none;
        text-transform: uppercase;

        @media screen and (max-width: 1140px) {
          display: none;
        }

        a {
          color: map-get($colors, "navy-peony");
          font-size: 14px;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .site-details-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 20px;

        padding: 12px 0;

        text-decoration: none;

        img {
          max-width: 85px;
          max-height: 100%;

          align-self: center;
        }

        .site-details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 2px;

          color: red;
          text-align: left;

          p {
            color: map-get($colors, "navy-peony");
          }

          p:nth-child(1) {
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0.5px;
            transition: font-size 0.4s ease;
          }

          p:nth-child(2) {
            opacity: 0.75;
            letter-spacing: normal;
            transition: font-size 0.4s ease;
          }

          /* .site-details */
          @media screen and (max-width: map.get($breakpoints, "tablet")) {
            p:nth-child(1) {
              font-size: 16px;
            }

            p:nth-child(2) {
              display: none;
            }
          }

          /* .site-details */
          @media screen and (max-width: map.get($breakpoints, "phone")) {
            p:nth-child(1) {
              font-size: 12px;
            }
          }
        }
      }

      @media screen and (max-width: map.get($breakpoints, "desktop")) {
        margin-right: 0;
      }
    }
  }

  .bottom {
    display: flex;
    width: 100%;
    height: 562px;
    max-height: 0;

    background-color: white;
    overflow: hidden;

    box-shadow: inset 0 8px 3px -7px rgba(0, 0, 0, 0.1);
    transition: max-height 0.4s ease;

    &.extended {
      max-height: 562px;
    }

    .left {
      display: flex;
      flex-direction: column;
      width: 25%;
      height: 100%;
      padding: 40px 50px;

      background-color: map-get($colors, "marble");

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;

        list-style-type: none;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          border-bottom: 1px solid map-get($colors, "mist");

          &:last-of-type {
            border-bottom: transparent;
          }

          a {
            color: map-get($colors, "carbon");
            font-size: 15px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }

            /* a */
            @media screen and (max-width: map.get($breakpoints, "desktop")) {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 100%;
              height: 100%;
            }

            /* a */
            @media screen and (max-width: map.get($breakpoints, "tablet")) {
              justify-content: flex-start;
            }
          }
        }

        @media screen and (max-width: map.get($breakpoints, "desktop")) {
          padding: 0;
        }
      }

      /* left */
      @media screen and (max-width: map.get($breakpoints, "desktop")) {
        width: 50%;
        padding: 0 40px;
      }

      @media screen and (max-width: map.get($breakpoints, "tablet")) {
        width: 100%;
        padding: 0 20px;
      }
    }

    .right {
      @include flex-container(
              $flexDirection: column,
              $justifyContent: space-between,
              $alignItems: flex-start,
              $gap: 0,
              $width: 75%,
              $height: auto,
              $margin: 0,
              $padding: 40px 50px,
      );
      row-gap: 20px;

      .column {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 40px;

        /* .column */
        @media screen and (max-width: map.get($breakpoints, "desktop")) {
          gap: 0;
          width: 100%;
          background-color: map-get($colors, "crystal");
        }
      }

      /* .right */
      @media screen and (max-width: map.get($breakpoints, "desktop")) {
        width: 50%;
        gap: 0;
        padding: 0;
      }

      @media screen and (max-width: map.get($breakpoints, "tablet")) {
        width: 100%;
      }
    }

    /* .bottom */
    @media screen and (max-width: map.get($breakpoints, "desktop")) {
      height: fit-content;
      max-height: 0;

      &.extended {
        width: 100%;
        max-height: fit-content;
        background-color: map-get($colors, "marble");
      }
    }

    @media screen and (max-width: map.get($breakpoints, "tablet")) {
      &.extended {
        flex-direction: column;
      }
    }

    @media screen and (max-width: map.get($breakpoints, "phone")) {
      &.extended {

      }
    }
  }
}