$navbar-max-height-desktop: 120px;
// $max-height-tablet:;
// $max-height-mobile:;

.navbar {
  position: sticky;
  top: 0;

  background-color: map-get($colors, "white");
  border-bottom: 8px solid map-get($colors, "navy-peony");

  &__top {
    display: flex;
    max-height: $navbar-max-height-desktop;
    transition: max-height 0.4s ease;

    h1, h2 {
      transition: font-size 0.4s ease;
    }

    h1 {
      @extend %navbar-header;
    }

    h2 {
      @extend %navbar-header-2;
    }

    &--shrink {
      max-height: calc($navbar-max-height-desktop - 30px);

      .top__headings {
        h1 {
          font-size: calc($font-size-18px - 0.1rem);
        }

        h2 {
          font-size: calc($font-size-16px - 0.1rem);
        }

        @media screen and (max-width: 520px) {
          h1, h2 {
            font-size: 3vw;
          }
        }
      }
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      flex-direction: row-reverse;
      max-height: 80px;
    }

    @media screen and (max-width: map-get($breakpoints, "phone")) {
      max-height: 80px;
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    height: fit-content;
    max-height: 0;

    background-color: white;
    overflow: hidden;
    visibility: hidden;
    overscroll-behavior: contain;

    box-shadow: inset 0 8px 3px -7px rgba(0, 0, 0, 0.1);
    transition: max-height 0.6s ease, visibility 0.6s ease;

    &--extended {
      max-height: 604px;
      visibility: visible;

      @media screen and (max-width: map-get($breakpoints, "desktop")) {
        width: 100%;
        max-height: 500px;
        background-color: map-get($colors, "marble");
      }

      @media screen and (max-width: map-get($breakpoints, "tablet")) {
        flex-direction: column;
        max-height: 400px;
        overflow-y: scroll;
      }
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: map-get($breakpoints, "phone")) {
    padding: 0;
  }
}

.top {
  &__contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 0 20px;

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      margin-right: 0;
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      margin: 0 8px;
    }

    @media screen and (max-width: map-get($breakpoints, "phone")) {
      margin: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 0 auto;
    gap: 40px;

    padding-left: 0;
    margin-right: 40px;
    list-style-type: none;
    text-transform: uppercase;

    a {
      color: map-get($colors, "navy-peony");
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      display: none;
    }
  }

  &__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    height: 80%;

    text-decoration: none;

    img {
      height: 100%;
    }

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      margin: {
        right: 20px;
      }
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      margin: {
        left: 8px;
        right: 8px;
      }
    }
  }

  &__headings {
    display: flex;
    flex-flow: column;
    place-content: center;
    align-self: stretch;
    gap: 4px;

    @media screen and (max-width: 520px) {
      h1 {
        font-size: 3vw;
      }

      h2 {
        display: none;
      }
    }
  }

  &__links {
    a {
      @extend %navbar-link;
    }
  }
}

.bottom {
  &__left {
    display: flex;
    flex-flow: column;
    flex: 1 1 25%;
    padding: 40px 50px;

    background-color: map-get($colors, "marble");

    ul {
      display: flex;
      flex-flow: column;
      align-items: center;
      padding-left: 0;

      list-style-type: none;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        flex-shrink: 1;

        height: 50px;
        padding: 10px;
        border-bottom: 1px solid map-get($colors, "mist");

        &:last-of-type {
          border-bottom: transparent;
        }

        a {
          @extend %navbar-link-2;

          @media screen and (max-width: map-get($breakpoints, "desktop")) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 auto;
            height: 100%;
          }

          @media screen and (max-width: map-get($breakpoints, "tablet")) {
            justify-content: flex-start;
          }
        }
      }

      @media screen and (max-width: map-get($breakpoints, "desktop")) {
        padding: 0;
      }
    }

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      flex: 50%;
      padding: 0 40px;
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      width: 100%;
      padding: 0 20px;
    }
  }

  &__right {
    display: flex;
    flex-flow: column;
    place-content: flex-start space-between;
    flex: 1 1 75%;
    row-gap: 20px;

    padding: 40px 50px;

    &-column {
      display: flex;
      place-content: flex-start;
      flex-wrap: wrap;
      gap: 40px;

      @media screen and (max-width: map-get($breakpoints, "desktop")) {
        gap: 0;
        background-color: map-get($colors, "crystal");

        overflow-y: scroll;
        overscroll-behavior: contain;
      }
    }

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      flex: 50%;
      padding: 0;
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      width: 100%;
    }
  }
}