.search-button {
  @extend %button-element--solid;
  flex-shrink: 0;

  margin: auto;
  padding: 10px;

  background-color: map-get($colors, "white");

  svg {
    color: map-get($colors, "dover-straits");
    transition: color 0.1s ease;
  }

  &:hover {
    border-color: transparent;

    svg {
      color: map-get($colors, "white");
    }
  }

  &--extended {
    position: relative;
    background-color: map-get($colors, "ocean-blue");

    svg {
      color: white;
    }

    &:hover {
      background-color: map-get($colors, "ocean-blue");
    }
  }

  @media screen and (max-width: map-get($breakpoints, "desktop")) {
    width: 100px;
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: map-get($colors, "marble");
    border: 0 solid transparent;
    border-radius: 0;
  }

  @media screen and (max-width: map-get($breakpoints, "laptop")) {
    &--extended {
      background-color: map-get($colors, "ocean-blue");
    }
  }

  @media screen and (max-width: map-get($breakpoints, "tablet")) {
    display: none;
  }
}