.navbar__list-links {
  display: flex;
  flex-flow: column;
  place-content: flex-start;
  gap: 16px;
  flex: 0 1 30%;

  @media screen and (max-width: map-get($breakpoints, "desktop")) {
    align-items: stretch;
    gap: 0;
    flex: 1 1 100%;
  }
}

.list-links {
  &__header {
    display: flex;

    h2 {
      a {
        @extend %navbar-header-link;

        @media screen and (max-width: map-get($breakpoints, "desktop")) {
          display: flex;
          align-items: center;
          align-self: stretch;
          flex: 1 1 auto;
        }
      }

      @media screen and (max-width: map-get($breakpoints, "desktop")) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 1;

        height: 50px;
        padding: {
          top: 10px;
          right: 10px;
          bottom: 10px;
          left: 20px;
        }

        border-bottom: 1px solid map-get($colors, "mist");
        background-color: white;

        &:last-child {
          border-bottom: transparent;
        }

        &::after {
          content: none;
        }
      }

      @media screen and (max-width: map-get($breakpoints, "desktop")) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }

    button {
      display: none;

      svg {
        font-size: 32px;
        color: map-get($colors, "white");
      }
    }

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      gap: 0;

      button {
        @include flex-container(
                $width: 50px,
                $height: 100%,
                $padding: 0,
        );

        border: none;
        background-color: map-get($colors, "dover-straits");
        cursor: pointer;
      }
    }
  }

  &__items {
    max-height: fit-content;
    padding: 0;
    list-style-type: none;
    visibility: inherit;

    transition: max-height 0.4s ease, padding 0.4s ease, visibility 0.4s ease;

    li {
      width: fit-content;

      @media screen and (max-width: map-get($breakpoints, "desktop")) {
        width: 100%;
        padding: 0 20px;
      }
    }

    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-shrink: 1;
      max-height: 0;

      overflow: hidden;
      visibility: hidden;

      &--extended {
        max-height: 400px;
        padding: 20px 0;

        visibility: visible;
      }
    }
  }

  &__item {
    @extend %paragraph-link;

    display: inline-block;
    padding: 5px 0;

    color: map-get($colors, "carbon");
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    /* a */
    @media screen and (max-width: map-get($breakpoints, "desktop")) {
      width: 100%;
    }
  }
}