.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 72px;
  margin: 0;
  padding: 0 0 8px 0;

  color: white;
  border: none;
  background-color: map-get($colors, "ocean-blue");

  &:hover {
    border-color: map-get($colors, "ocean");
    background-color: map-get($colors, "ocean");
    cursor: pointer;
  }

  &:active {
    border-color: map-get($colors, "kolibri-blue");
    background-color: map-get($colors, "kolibri-blue");
  }

  svg {
    width: 48px;
    height: fit-content;
  }

  span {
    color: white;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }

  @media screen and (max-width: map-get($breakpoints, "phone")) {
    min-width: 64px;

    svg {
      width: 40px;
    }

    span {
      letter-spacing: 0.5px;
    }
  }
}