form#search {
  @include flex-container(
          $gap: 10px,
          $height: auto,
          $margin: 0,
          $padding: 0,
  );

  &:focus-within {
    input {
      outline: none;
      border: 2px solid transparent;
      border-radius: 2px;
      box-shadow: 0 0 0 3px getColorWithAlpha("dover-straits", 0.5);
    }
  }

  input {
    width: 100%;
    max-width: 500px;
    height: 48px;

    padding: 0 16px;

    transition: box-shadow 0.1s ease;

    &::placeholder {
      color: map-get($colors, "silver");
      opacity: 1;
    }
  }

  button {
    @include button(
            $padding: 0 24px,
            $type: solid,
            $gap: 8px,
    );

    flex-shrink: 0;
  }

  &.search-extended {
    position: absolute;
    bottom: -86px;
    right: -1px;

    justify-content: space-between;

    width: 500px;
    padding: 20px;

    background-color: map-get($colors, "ocean-blue");
    cursor: default;

    &:focus-within {
      input {
        outline: none;
        border: 2px solid transparent;
        border-radius: 2px;
        box-shadow: 0 0 0 3px getColorWithAlpha("dover-straits", 0.5);
      }
    }

    input {
      width: 100%;
      padding: 0 10px;
    }
  }

  @media screen and (max-width: map-get($breakpoints, "phone")) {
    flex-direction: column;

    input {
      max-width: 100%;
    }

    button {
      padding: 12px 24px;
      flex-shrink: 1;
    }
  }
}