.search-form {
  display: flex;
  flex-flow: row;
  place-content: center;
  gap: 8px;

  width: 100%;
  height: 48px;

  &__input {
    @extend %paragraph-text;

    flex: 1 1 auto;

    height: 48px;
    padding: 0 16px;

    &::placeholder {
      color: map-get($colors, "silver");
      opacity: 1;
    }

    &:focus-within {
      outline: none;
      border: 2px solid transparent;
      border-radius: 2px;
      box-shadow: 0 0 0 3px getColorWithAlpha("dover-straits", 0.5);
    }
  }

  &__button {
    @extend %button-element--solid;
  }

  &--extended {
    position: absolute;
    bottom: 0;
    right: 0;

    align-items: center;

    width: 500px;
    height: 90px;
    padding: 20px;

    margin: {
      bottom: -89px;
      right: -2px;
    }

    background-color: map-get($colors, "ocean-blue");
    cursor: default;

    button {
      border-color: map-get($colors, "white");

      &:hover {
        border-color: map-get($colors, "white");
      }
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "tablet")) {
  .search {
    height: auto;
    flex-flow: row nowrap;

    &__button {
      padding: 12px 24px;
      flex-shrink: 1;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "mobile")) {
  .search {
    flex-flow: column nowrap;

    &__icon {
      display: none;
    }
  }
}