#search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 50%;

  &:focus-within {
    input {
      outline: none;
      border: 2px solid transparent;
      border-radius: 2px;
      box-shadow: 0 0 0 3px getColorWithAlpha("dover-straits", 0.5);
    }
  }

  input {
    width: 100%;
    max-width: 500px;
    height: 48px;

    padding: 0 16px;

    transition: box-shadow 0.1s ease;

    &::placeholder {
      color: map-get($colors, "silver");
      opacity: 1;
    }
  }

  button {
    height: 100%;
    font-size: 14px;
  }

  &.search-extended {
    position: absolute;
    bottom: -86px;
    right: -1px;

    justify-content: space-between;

    width: 500px;
    padding: 20px;

    background-color: map-get($colors, "ocean-blue");
    cursor: default;

    &:focus-within {
      input {
        outline: none;
        border: 2px solid transparent;
        border-radius: 2px;
        box-shadow: 0 0 0 3px getColorWithAlpha("dover-straits", 0.5);
      }
    }

    input {
      width: 100%;
      padding: 0 10px;
    }

    button {
      font-size: 14px;
      gap: 0;
    }
  }
}