.home__updates-and-events {
  &--flex {
    @extend %layout-flex-section;
    place-content: space-between;
    gap: 40px;
  }
}

@media screen and (max-width: map-get($breakpoints, "laptop")) {
  .home__updates-and-events {
    flex-flow: column;
  }
}