.featured {
  padding: 40px;

  background-color: map-get($colors, "winter");

  &--flex {
    display: flex;
    flex-flow: row;
    place-content: center;
  }

  .featured {
    &__cards {
      &--grid {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
      }
    }

    &__card {
      @extend %card-highlight-on-hover;
      @extend %card-box-shadow;

      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      width: 250px;
      height: 250px;
      padding: 40px;

      text-decoration: none;
      background-color: white;
    }

    &__img {
      height: 100%;
    }

    &__title {
      @extend %card-header-style-1;

      max-width: 200px;
      color: map-get($colors, "navy-peony");
    }
  }

  @media screen and (max-width: map-get($breakpoints, "desktop")) {
    .featured {
      &__cards {
        &--grid {
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }

      &__card {
        gap: 40px;
        width: auto;
      }

      &__title {
        max-width: none;
      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, "tablet")) {
    .featured {
      &__cards {
        &--grid {
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;

          flex: 1 1 auto;
        }
      }

      &__card {
        flex-flow: row;
        place-content: flex-start;
        gap: 40px;

        height: 80px;
        padding: 20px 40px;
      }
    }
  }
}