.news {
  &__content {
    @extend %content-layout;
  }
}

.content {
  &__cards {
    display: flex;
    flex-flow: row;
    place-content: center;
    gap: 40px;

    @media screen and (max-width: map-get($breakpoints, "laptop")) {
      flex-flow: column;
      gap: 16px;
    }
  }

  &__card {
    @include card-element;

    display: flex;
    flex-flow: column;
    flex: 1;
    gap: 16px;

    a {
      @extend %card-link-title;
    }

    span {
      font-family: $font-family-open-sans;
      font-size: $font-size-13px;
      font-weight: $font-weight-700;
      color: map-get($colors, "slate");
    }

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      padding: 20px;
    }
  }
}