section#dashboard {
  @include flex-container;

  .left-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;

    h2 {
      color: map-get($colors, "navy-peony");
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;

      p {
        color: map-get($colors, "carbon");
      }
    }
  }

  .right-column {
    display: flex;
    align-self: stretch;
    width: 100%;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 450px;

      background-image: url("/assets/images/census-preview.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);

      a {
        text-decoration: none;

        button {
          width: 250px;
          text-transform: none;
        }
      }
    }
  }
}