section#events {
  p.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

    svg {
      flex-shrink: 0;
      align-self: stretch;
    }
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;

    padding: 40px 0;

    border-bottom: 1px solid map-get($colors, "grey");

    .date {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: map-get($colors, "muddy-brown");

      padding: 4px 16px;

      span {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: white;
      }

      span:nth-child(2) {
        font-size: 30px;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 16px;

      max-width: 500px;

      .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
      }

      p {
        &.__text {
          color: map-get($colors, "carbon");
        }

        &.agenda {
          justify-content: flex-start;

          width: 100%;
          background-color: map-get($colors, "marble");
          padding: 16px;
        }
      }
    }
  }
}