.hero {
  @extend %layout-flex-section;

  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  max-width: none;
  padding: {
    top: 80px;
    bottom: 80px;
  };

  &--flex {
    display: flex;
    place-content: center;
  }

  &__container {
    @extend %layout-flex-container;

    max-width: 725px;
  }

  &__header {
    font-family: $font-family-slab;
    font-size: $font-size-2xl;
    font-weight: $font-weight-regular;
    color: map-get($colors, "white");
    text-align: center;
  }

  &__form {
    max-width: 650px;
  }
}

@media screen and (max-width: map-get($breakpoints, "mobile")) {
  .hero {
    padding: {
      top: 40px;
      bottom: 40px;
    };
  }
}