.hero {
  @extend %section-layout;

  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  max-width: none;
  padding: {
    top: 80px;
    bottom: 80px;
  };

  &__content {
    @extend %content-layout;

    max-width: 725px;
  }

  @media screen and (max-width: map-get($breakpoints, "mobile")) {
    padding: {
      top: 40px;
      bottom: 40px;
    };
  }
}

.content {
  &__header {
    @extend %hero-header;
  }

  &__form {
    max-width: 650px;
  }
}