.dashboard {
  @extend %flex-section;
  padding-top: 80px;

  &--flex {
    display: flex;
    place-content: center;
  }

  &__content, &__column {
    @extend %flex-column;
  }

  &__content {
    flex-flow: row;
  }

  &__text-content {
    display: flex;
    flex-flow: column;
    gap: 15px;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 450px;

    background-image: url("/assets/images/census-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  }

  &__img-link {
    text-decoration: none;
  }

  &__button {
    @extend %button-solid;

    width: 250px;

    span {
      text-transform: capitalize;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "tablet")) {
  .dashboard {
    &__content {
      flex-flow: column;
    }
  }
}

@media screen and (max-width: map-get($breakpoints, "mobile")) {
  .dashboard {
    padding-top: 40px;
  }
}