.hero {
  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @extend %flex-section;
  max-width: none;
  padding: {
    top: 80px;
    bottom: 80px;
  };

  &--flex {
    display: flex;
    place-content: center;
  }

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    max-width: 725px;
  }

  &__header {
    @extend %header-style-4;

    color: white;
    font-weight: 400;
    text-align: center;
    text-transform: none;
  }

  &__form {
    max-width: 650px;
  }
}

@media screen and (max-width: map-get($breakpoints, "mobile")) {
  .hero {
    padding: {
      top: 40px;
      bottom: 40px;
    };
  }
}