.home__updates-and-events {
  @extend %flex-section;
  place-content: space-between;
  gap: 40px;

  &--flex {
    display: flex;
    flex-flow: row;
    place-content: space-between;
  }
}

@media screen and (max-width: map-get($breakpoints, "laptop")) {
  .home__updates-and-events {
    flex-flow: column;
  }
}