.featured {
  max-width: none;
  background-color: map-get($colors, "winter");

  &--flex {
    @extend %layout-flex-section;
  }

  &__container {
    &--grid {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
    }
  }

  &__card {
    @extend %card-element;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 250px;
    height: 250px;

    text-decoration: none;
    background-color: white;
  }

  &__img {
    height: 60%;
  }

  &__title {
    @extend %text-header-preset-1;

    max-width: 200px;

    font-size: $font-size-md;
    letter-spacing: $letter-spacing-md;
    text-align: center;
    text-transform: uppercase;
  }

  @media screen and (max-width: map-get($breakpoints, "desktop")) {
    .featured {
      &__container {
        &--grid {
          grid-template-rows: repeat(2, 1fr);
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }
      }

      &__card {
        gap: 40px;
        width: auto;
      }

      &__title {
        max-width: none;
      }
    }
  }

  @media screen and (max-width: map-get($breakpoints, "tablet")) {
    .featured {
      &__container {
        &--grid {
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;

          flex: 1 1 auto;
        }
      }

      &__card {
        flex-flow: row;
        place-content: flex-start;
        gap: 40px;

        height: 80px;
        padding: 20px 40px;
      }

      &__img {
        height: 100%;
      }
    }
  }
}