.home {
  &__sections {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    place-content: flex-start;
    gap: 60px;

    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 40px;

    @media screen and (max-width: map-get($breakpoints, "tablet")) {
      padding: 50px 40px;
    }

    @media screen and (max-width: map-get($breakpoints, "mobile")) {
      padding: 40px 30px;
    }
  }
}