.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 75%;
  max-width: 1200px;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;

  height: 378px;

  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  p {
    width: 100%;
    max-width: 725px;

    color: white;
    font-weight: 400;
    text-align: center;
    text-transform: none;
  }

  #search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 50%;

    &:focus-within {
      input {
        outline: none;
        border: 2px solid transparent;
        border-radius: 2px;
        box-shadow: 0 0 0 3px rgba(48, 104, 173, 0.5);
      }
    }

    input {
      width: 100%;
      max-width: 500px;
      height: 48px;

      padding: 0 16px;

      transition: box-shadow 0.1s ease;

      &::placeholder {
        color: rgb(117, 117, 117);
        opacity: 1;
      }
    }

    button {
      font-size: 14px;
    }
  }
}

.featured-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: rgb(225, 228, 235);

  .flex-container {
    gap: 40px;
    padding: 50px 0;
  }
}

.dashboard-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 500px;

  .flex-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
  }
}

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px 0;

  .flex-container {
    flex-direction: column;
    gap: 40px;

    h3 {
      width: 100%;
      color: $color__navy-peony;
    }
  }
}

.updates-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;

  .flex-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    h3 {
      color: $color__navy-peony;
    }
  }
}

.news-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;

  .flex-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

    width: 100%;
  }
}

.top-return {
  display: flex;
  justify-content: center;

  width: 100%;

  padding-bottom: 40px;

  .flex-container {
    justify-content: flex-end;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      background-color: transparent;
      border: none;

      .icon-background {
        padding: 6px;
        background-color: rgba(0, 116, 193, 0.25);
        border-radius: 100%;
      }
    }
  }
}