@use '_variables' as *;

/* Global Classes */
// TODO: Change font sizes to REM units
/* Text Styles */
.__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Header Styles */
.__header-style-1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.__header-style-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.__header-style-3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.__header-style-4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}

.__header-style-5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.__h1 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

.__h2 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 600;
  font-size: 18px;
}

.__h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.__h4 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700;
  font-size: 13px;
}

.__h5 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.__card-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

/* Link Styles */
.__link-style-1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
}

.__link-styles-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
}

/* Stat Block */
.__stat-block-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 54px;
}