/* Global Typography Classes */

// TODO: Change font sizes to REM units
/* Text Styles */
.__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

/* Header Styles */
.__header-style-1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 42px;
}

.__header-style-2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;

  &::after {
    display: block;
    content: "";
    width: 50px;
    height: 3px;
    margin-top: 20px;
    background-color: $color__muddy-brown;
  }
}

.__header-style-3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;

  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background-color: $color__navy-peony;
  }
}

.__header-style-4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
}

.__header-style-5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.__h1 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

.__h2 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 600;
  font-size: 18px;
}

.__h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.__h4 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 700;
  font-size: 13px;
}

.__h5 {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.5px;
}

.__card-header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

/* Link Styles */
a.__link-style-1, a.__link-style-1:link, a.__link-style-1:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;

  color: $color__ocean-blue;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

a.__link-style-2, a.__link-style-2:link, a.__link-style-2:visited {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;

  color: $color__ocean-blue;

  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

/* Stat Block */
.__stat-block-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 54px;
}

/* Button */
.__button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}