/* Global Variables */

/* Font Families */
$font-family__text: 'Open Sans', sans-serif;

$font-family__header-style-1: 'Open Sans', sans-serif;
$font-family__header-style-2: 'Open Sans', sans-serif;
$font-family__header-style-3: 'Open Sans', sans-serif;
$font-family__header-style-4: 'Roboto Slab', serif;
$font-family__header-style-5: 'Open Sans', sans-serif;

$font-family__h1: 'Open Sans', sans-serif;
$font-family__h2: 'Open Sans', sans-serif;
$font-family__h3: 'Roboto Condensed', sans-serif;
$font-family__h4: 'Open Sans', sans-serif;
$font-family__h5: 'Open Sans', sans-serif;

$font-family__card-header: 'Open Sans', sans-serif;

$font-family__link-style-1: 'Open Sans', sans-serif;
$font-family__link-style-2: 'Open Sans', sans-serif;

$font-family__stat-block: 'Open Sans', sans-serif;

/* Font Weights */
$font-weight__text: 400;

$font-weight__header-style-1: 700;
$font-weight__header-style-2: 700;
$font-weight__header-style-3: 700;
$font-weight__header-style-4: 700;
$font-weight__header-style-5: 600;

$font-weight__h1: 700;
$font-weight__h2: 600;
$font-weight__h3: 400;
$font-weight__h4: 700;
$font-weight__h5: 400;

$font-weight__card-header: 600;

$font-weight__link-style-1: 600;
$font-weight__link-style-2: 400;

$font-weight__stat-block: 300;

/* Font Sizes */
// TODO: Change font sizes to rem units
$font-size__text: 16px;

$font-size__header-style-1: 42px;
$font-size__header-style-2: 30px;
$font-size__header-style-3: 30px;
$font-size__header-style-4: 28px;
$font-size__header-style-5: 24px;

$font-size__h1: 18px;
$font-size__h2: 18px;
$font-size__h3: 16px;
$font-size__h4: 13px;
$font-size__h5: 13px;

$font-size__card-header: 24px;

$font-size__link-style-1: 18px;
$font-size__link-style-2: 16px;

$font-size__stat-block: 54px;

/* Line Heights */
$line-height__text: 22px;

/* Letter Spacing */
$letter-spacing__h1: 1px;
$letter-spacing__h3: 1px;
$letter-spacing__h5: 0.5px;